$color1: #63c5ff;
$color2: #41e86A;
$color3: #FFFb85;
$color4: #e8c296;
$color5: #ff7792;

$link-color: $color1;

$paragraphs: #373835;
$paragraphs_light: lighten($paragraphs, 10%);
$paragraphs_dark: darken($paragraphs, 10%);

$subheader-color: #2B2B2B;
$subtle-color: #A5A5A5;
$border-color-one: #8F918A;
$color-accent: $color2;