$color1: #001929;
$color2: #E87F41;
$color3: #AA1F5E;
$color4: #e8c296;
$color5: #41E86F;
$color6: #2D4A9D;

$color-one: #F37373;

$black: black;

$link-color: $color1;

$paragraphs: #373835;
$paragraphs_light: lighten($paragraphs, 10%);
$paragraphs_dark: darken($paragraphs, 10%);

$subheader-color: #2B2B2B;
$subtle-color: #A5A5A5;
$border-color-one: #8F918A;
$color-accent: $color2;