@import "colors";

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

// Conditional Header 



// Custom Utility Classes
.headers {
  font-size: 2.5em;
  font-family: 'Brandon-Grotesque', sans-serif;
}

.subheaders {
  font-family: 'proxima-nova', sans-serif;
  color: $subheader-color;
}

// Add to row to make it expand to full screen

.full-width { 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}