@import "colors";

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

a {
  color: $link-color;
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

// Conditional Header 



// Custom Utility Classes


.xs-hr {
  width: 30px;
  margin: auto;
}

.sm-hr {
  width: 70px;
  margin: auto;
}


.md-hr {
  width: 300px;
  margin: auto;
}

.lg-hr {
  width: 500px;
  margin: auto;
}

.xl-hr {
  width: 700px;
  margin: auto;
}

.color-accent {
  color: $color-accent;
}

// Add to row to make it expand to full screen

.full-width { 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}