.footer {
  height: 150px;
  width: 100%;
  background-color: #333333;
  border-top: 1px solid #1A1A1A;
  padding-top: 30px;
  margin-bottom: 0px !important;
  ul#footer-list{
    list-style-type: none;
    li{
      color: white;
      font-family: 'raleway', sans-serif;
      font-size: 1.5em;
      a {
        color: #BBBBBB;
        text-decoration: underline;
      }
    }
  }
}