/*********************************/
/******* Homepage SCSS ***********/
/*********************************/

@import "responsive-dimensions",
"colors";

$paragraph-font: 'rooney-web', sans-serif;
$subheader-font: 'jubilat', sans-serif;
$stylish-header-font: 'lust-script', sans-serif;

.section {
  padding-top: 15px;
  min-height: 500px;
  border-bottom: 1px solid $border-color-one; 
}

/* First section */
.section-one {
  ul li:first-child {
    margin-left: 3px; 
  }

  h2 {
    font-family: 'proxima-nova';
  }

  // Photo BG
  .first-bg {
    @media #{$small-up} {
      min-height: $small-height;
    }

    @media #{$medium-up} {
      background-size: cover;
      min-height: 200px;
    }

    @media #{$large-up} {
      background-size: cover;
      min-height: 200px;
    }
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    float: left;

    border: 1px solid black;
  }

  ul.nav-list {
    list-style-type: none;
  }
}

.section-two {
}

.skill {
  @media #{$small-only} {
    text-align: center;
  }
  @media #{$medium-only} {
    text-align: center;
  }
  //"SKILLS"
  i{
    margin-bottom: 10px;
  }
  h2.skill-name {
    font-family: 'jubilat';
  } 
  p{
    font-family: 'rooney-web', sans-serif;
  }
  .skill-icon { 
   // 
  }
  .skill-description{

  }
}