/*********************************/
/******* Homepage SCSS ***********/
/*********************************/

@import "responsive-dimensions",
        "colors";


/* First section */
.section-one {
  padding-top: 15px;
  min-height: 500px;

  ul li:first-child {
    margin-left: 3px; 
  }

  h2 {
    font-family: 'proxima-nova';
  }

  // Photo BG
  .first-bg {
    @media #{$small-up} {
      min-height: $small-height;
    }

    @media #{$medium-up} {
      background-size: cover;
      min-height: 200px;
    }

    @media #{$large-up} {
      background-size: cover;
      min-height: 200px;
    }
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    float: left;

    border: 1px solid black;
  }

  ul.nav-list {
    list-style-type: none;
  }
}

.section-two {
  padding-top: 15px;
  border-top: 1px solid $; 
}
