/*********************************/
/******* Homepage SCSS ***********/
/*********************************/
@import "responsive-dimensions",
"colors";

// Fonts
$major-header-font: 'museo-slab', sans-serif;
$header-font: 'museo-slab', sans-serif;
$subheader-font: 'museo-slab', sans-serif;
$paragraph-font: 'rooney-web', sans-serif;
$stylish-header-font: 'lust-script', sans-serif;

.section {
  padding-top: 15px;
  min-height: 500px;
}

/*********************************/
/******* SECTION IMPORT *************/
/*********************************/
@import 'sections-scss/section-one',
'sections-scss/section-two',
'sections-scss/section-three',
'sections-scss/section-four';

