/*********************************/
/******* Portfolio Dedicated Page *****/
/*********************************/

.portfolio-prescreen {
  h2 {
    color: #717171;
    font-family: 'prestige-elite-std', sans-serif;
  }

  ul.portfolio-chooser {
    list-style-type: none;
    li {
      display: inline;
      a {

      }
    }
  }
}