<!-- ************* -->
<!-- Section Four  -->
<!--   KODE:BLOG   -->
<!-- ************* -->
<div class="row full-width section section-four">
  <div class="row">
    <div class="
      tac
      small-centered
      small-8 
      medium-3 
      large-6
      columns">
      <h2>KO<span>DE BLOG</span></h2>
    </div>
  </div>
  <!--END ROW blog-header -->
  <!-- START blog posts -->
  <div class="row">
    <div class="
    small-12 small-centered 
    medium-7
    large-7 columns">
      <ul class="blog-posts mtm plm ">
        {% for post in site.posts limit:3 %}
          <!--POST -->
          <li>
            <h4 class="subtle text-left"> {{post.date | date: "%b %d"}} </h4>
            <a class="text-right" href="{{ post.url }} "> {{ post.title }} </a>
            <br>
            <p>
              {{post.excerpt}}  
            </p>
          </li>
          <hr class="blog-post-divider">

        {% endfor %}
      </ul>
    </div>
  </div>
</div>