<!-- ************* -->
<!-- Section Four  -->
<!--   KODE:BLOG   -->
<!-- ************* -->
<div class="row section section-four">
  <div class="row">
    <div class="
      small-8 end
      medium-5
      large-4
      columns">
      <h2>KODE<span>BLOG</span></h2>
      <p>kevin oh dev experiments</p>
    </div>
    <div class="
      text-center
      small-8 
      medium-7 medium-centered 
      large-6 
      columns end
      ">
      <h2 class="ptl mbn" id="hashtag-latest-header">latest posts</h2>
    </div>
  </div>
  <!--END ROW blog-header -->
  <!-- START blog posts -->
  <div class="row">
    <div class="
    small-8 small-centered 
    medium-5
    large-12 columns">
      <ul class="blog-posts mtm plm ">
        {% for post in site.posts limit:3 %}
          <!--POST -->
          <li>
            <h4 class="subtle text-left"> {{post.date | date: "%b %d"}} </h4>
            <a class="text-right" href="{{ post.url }} "> {{ post.title }} </a>
            <br>
            <p>
              {{post.excerpt}}  
            </p>
          </li>
          <hr class="blog-post-divider">

        {% endfor %}
      </ul>
    </div>
  </div>
</div>