<!-- ************* -->
<!-- Section Four  -->
<!--   KODE:BLOG   -->
<!-- ************* -->
<div class="row section section-four">
  <div class="row blog-header">
    <div class="
      small-8
      medium-5
      large-4
      columns">
      <h2>KODE<span>BLOG</span></h2>
      <p>kevin oh dev experiments</p>
    </div>
    <div class="
      text-center
      small-8
      medium-5
      large-8
      columns
      ">
      <h2 class="ptl mbn" id="hashtag-latest-header">#latest</h2>
      <hr class="mvn">
    </div>
    <!--END ROW blog-header -->
  </div>

  <!-- START blog posts -->
  <div class="row blog-posts">
    <div class="small-8 small-offset-2 medium-5 large-4 columns">
      
    </div>
  </div>

</div>