<!-- *********** -->
<!-- Section One -->
<!--   Header    -->
<!-- *********** -->
<div class="row full-width section section-one">
  <div class="
    small-10 small-offset-1 
    medium-3 medium-offset-1
    large-2 large-offset-3
    columns">
    <ul class="nav-list">
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="
    main-header
    small-10 small-offset-1 
    medium-4 medium-offset-1
    large-7 large-offset-0
    columns">
    <img class="header-image" src="../img/me.jpg" alt="">
  </div>

  <div class="
  mvl
  description
  small-11 small-offset-1 
  medium-12
  large-12
  columns">
    <p class="mbm description show-for-small-only">
     Hello! 
    </p>
    <p class="mbm description show-for-small-only">
      I'm Kevin Oh, a full-stack web developer & designer based in Long-Island, New York.
    </p>
    <p class="mbm description show-for-medium-up">
      kevin oh | web developer & designer
    </p>
    <p class="mbm email">
     <i class="fa fa-envelope-o "></i> wdkevo@gmail.com
    </p>
  </div>
</div>