<!-- *********** -->
<!-- Section One -->
<!--   Header    -->
<!-- *********** -->
<div class="row full-width section section-one">
  <div class="
    main-header
    small-12 
    medium-4 medium-offset-2
    columns">
    <h1 class="headers main-header mbn pbn">kevin oh</h1>
  </div>
  <div class="
    small-12 small-offset-1 
    medium-2 medium-offset-0
    columns">
    <ul class="nav-list text-left mbn">
      <li><a href="/about">about</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/portfolio">portfolio</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>
  <div class="
  mtl
  description
  small-10 small-offset-1 columns">
    <p class="description">
      I'm a full-stack, freelance web developer & designer based in <span class="accent">Long Island, New York</span>.
    </p>
  </div>
  <!--Section 1 -->
  <div class="small-12 columns">
    <!-- *********** -->
    <!-- Section One -->
    <!-- Description -->
    <!-- *********** -->
    
    <!-- <h3 class="subheaders mtn">// web developer & designer</h3> -->
    <!--Nav List -->
    <!--Profile Picture -->
    <!--   <div class="mvm first-bg small-centered" data-interchange="
      [http://placehold.it/150x150.png, (small)],
      [http://placehold.it/950x200.png, (medium)],
      [http://placehold.it/950x200.png, (large)]
    "></div> -->
    <!-- Personal Description -->
    <!--     <h2 class="text-center">Hai.</h2>
    <div class="small-10 text-center small-centered columns">
    </div> -->
  </div>
</div>