<!-- *********** -->
<!-- Section One -->
<!--   Header    -->
<!-- *********** -->

<div class="row full-width section section-one">
  <!--Section 1 -->
  <div class="small-12 columns">
    <!--Photo BG -->
    <!-- <img class="show-for-medium-up" data-interchange="
    [http://placehold.it/300x300, (medium)],
    [http://placehold.it/450x450, (large)]
    "> -->
    <!-- *********** -->
    <!-- Section One -->
    <!-- Description -->
    <!-- *********** -->
    <h1 class="headers mbn pbn">Kevin Oh</h1>
    <h3 class="subheaders mtn">// web developer & designer</h3>
    <!--Nav List -->
    <hr class="mvs">
    <ul class="inline-list mbn">
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <hr class="mvs">
    <!--Profile Picture -->
    <div class="mvm first-bg small-centered" data-interchange="
      [http://placehold.it/150x150.png, (small)],
      [http://placehold.it/950x200.png, (medium)],
      [http://placehold.it/950x200.png, (large)]
    "></div>
    <!-- Personal Description -->
    <h2 class="text-center">Hai.</h2>
    <div class="small-10 text-center small-centered columns">
      <p class="description">
        I'm a full-stack, freelance web developer & designer based in <span class="accent">Long Island, New York</span>.
      </p>
    </div>
  </div>
</div>