<!-- ************* -->
<!-- Section Three -->
<!--   Portfolio   -->
<!-- ************* -->
<div class="row full-width section section-three ptn">
  <div class="portfolio-section small-12 medium-12 columns phn">
    <h2 class="portfolio-header full-width mtn mbm pts plm pbm prm">portfolio</h2>
    <ul class="portfolio-list pvn plm mln mtn">
      <li>
        <a id="webdev" class="service-link active">professional
        </a>
      </li>
      <li> / </li>
      <li>
        <a id="branding" class="service-link">personal
        </a>
      </li>
    </ul>
  </div>
  <!--Projects -->
  {% for work in site.data.works.works %}
    <div class="row mbs">
      <div class="small-4 small-centered medium-1 large-2 columns end">
        <h2 class="work-name text-center">{{ work.name }}</h2>
      </div>
    </div>
    <!--Projects -->
    <div class="row full-width project">
      <div class="
        project
        small-10 small-offset-1
        medium-4 medium-offset-2
        large-5 large-offset-1
        xlarge-5 xlarge-offset-1
        columns end">
        <img class="mtm" src="img/works/{{ work.thumburl }}" alt="{{ work.name }}">
        <h3 class="mtm text-center show-for-medium-up">visit site</h3>
        <div class="text-center">
          <a class="mvn text-center" href="{{ work.URL }}">{{ work.URL }}</a>
        </div>
      </div>
      <div class="past-work-description pvs
        small-12
        medium-4 medium-offset-2
        large-5 large-offset-0
        columns">
        <ul class="work-details">
          <h3 class="mtn show-for-medium-up">services rendered</h3>
          <li>{{ work.services }} </li>
          <h3 class="mtm show-for-medium-up">about</h3>
          <li>
            {{ work.description }}
          </li>
          <h3 class="mtm show-for-medium-up">technologies used</h3>
          <li>{{ work.tech_used }} </li>
        </ul>
      </div>
      <hr>
    </div>
    <!--End of project -->
  {% endfor %}
</div>