<!-- *********** -->
<!-- Section Two -->
<!--   services  -->
<!-- *********** -->
<div class="row mbl pbm full-width section section-two show-for-small-only">
  <h2 class="core-services text-center">core services</h2>
  <hr class="core-services-divider">
  
  <!-- services | COL 1 -->
  <div class="
    service
    small-12 text-center
    medium-4 medium-offset-1
    columns pvs mbs">
    <i class="service-icon fa fa-code fa-3x fa-align-center"></i>
    <h2 class="service-name">web development</h2>
    <p class="service-description">
      A lot goes into making a site. I'll sweat the technical details so you can focus on the work you actually care about.
    </p>
    <p class="service-description">
      From mockup to deployment, I'll help you create a fast, responsive, modern website that you can be proud of.
    </p>
  </div>
  <!--DIVIDER -->
  <hr class="mini-hr mbm show-for-small-only">
  <!-- services | COL 2 -->
  <div class="
    service
    small-12 text-center
    medium-4 medium-offset-2
    columns pvs mbs">
    <i class="service-icon fa fa-copyright fa-3x fa-align-center"></i>
    <h2 class="service-name">branding</h2>
    <p class="service-description">
      Building an online identity is no small undertaking. Create an online presence on all of the modern popular social networking sites
      <br>
      <hr class="mini-hr mbm show-for-small-only">
      <span class="subtle"> * Need video? <br><a href="contact">Email me</a> to see <br> if we'd make a good match.</span>
    </p>
  </div>
  <!--DIVIDER -->
  <hr class="mini-hr mbm show-for-small-only">
  <!-- services | COL 3 -->
  <div class="
    service
    small-12 text-center
    medium-4 medium-offset-1
    columns pvs mbs">
    <i class="service-icon fa fa-laptop fa-3x fa-align-center"></i>
    <h2 class="service-name">UI/UX</h2>
    <!-- <h4 class="service-subheader text-center">user interface / experience</h4> -->
    <p class="service-description">
    "Intuitive" has become a bit of a buzz-word lately, but it's for a reason. Even in 2015, user interfaces are often clunky and counter-productive. </p>
    <p class="service-description">Create a user experience that will allow your users to do exactly what it is they wish to do on your website or application. No clutter, no mess.
    </p>
  </div>
  <!--DIVIDER -->
  <hr class="mini-hr mbm show-for-small-only">
  <!-- services | COL 4 -->
  <div class="
    service
    small-12 text-center
    medium-4 medium-offset-2
    columns pvs mbs">
    <i class="service-icon fa fa-pencil fa-3x fa-align-center"></i>
    <h2 class="service-name">copy writing & <br> technical writing</h2>
    <p class="service-description">
      Words are the backbone of every website. <br> I'll help you choose the right ones.
    </p>
  </div>
  <!--End -->
</div>