<!-- *********** -->
<!-- Section Two -->
<!--   services  -->
<!-- *********** -->
<div class="row mbn full-width section section-two show-for-medium-up">
  <div class="
  mbm
  medium-9 medium-centered columns end
  section-two-header text-center ">
  <h1>
    my name is <span class="accent">kevin oh</span>. <br>I'm a web developer based in Long Island, NY.
  </h1> 
  </div>
  <hr class="mbm header-separator">
  <h2 class="core-services text-center">core skills</h2>
<!--   <h4 class="click-to-view subtle text-center show-for-medium-up" id="tooltip">
    click items to view
  </h4>
 -->  <hr class="mbm mtm header-separator">
  {% include services-list.html %}
  
  <!--START skills container -->
  <div class="service-container">
    <!--First Service -->
    <!--BRAND -->
    <div id="webdev" class="row animated full-width active-service">
      <div class="
        brand
        first-service
        service
        small-12 text-center
        medium-6
        columns">
        <i class="service-icon fa fa-code fa-5x fa-align-center"></i>
        <h2 class="service-name">web development</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
            <li>Laravel, PHP</li>
            <li>HTML/CSS/JS/LEMP</li>
            <li>jQuery/VueJS</li>
          </ul>
        </div>
        <!--END OF BRAND -->
      </div>
      <div class="
        first-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-10 medium-offset-1 columns">
          <p class="service-description">
            Primarily experienced with the Laravel framework & ecosystem. Have some experience with old-school procedural PHP and alternative frameworks like CodeIgniter.
          </p>
          <p class="service-description">
            Comfortable with a front-end workflow, including the terminal, gulp/grunt build systems, package managers (composer), SCSS compilation, SSH, git, etc.
          </p>
          <!-- <a href="/services/webdev.html" class="button small">Learn More</a> -->
        </div>
      </div>
    </div>
    <!--Second service -->
    <div id="branding" class="row animated full-width">
      <div class="
        brand
        second-service
        service
        small-12 text-center
        medium-6
        columns">
        <i class="service-icon fa fa-copyright fa-5x fa-align-center"></i>
        <h2 class="service-name">UI/UX</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
          <li>Sketch, Illustrator</li>
          <li>Wireframing, mockups, prototypes</li>
          <li>Responsive design, progressive enhancement</li>
          </ul>
        </div>
      </div>
      <div class="
        second-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-10 medium-offset-1 columns">
          <p class="service-description">
            Comfortable translating needs into implementable steps and using visual designs to communicate processes. Comfortable working with hex codes, color palettes, and have working knowledge of color theory. Comfortable using modern design tools like Sketch to create various layouts.
            <br>
            <hr class="mini-hr mbm show-for-small-only">
            <span class="subtle"> * Need video? <br><a href="contact">Email me</a> to see <br> if we'd make a good match.</span>
          </p>
          <!-- <a href="/services/branding.html" class="button small">Learn More</a> -->
          
        </div>
      </div>
    </div>
    <!--Third service -->
    <div id="uiux" class="row animated full-width">
      <div class="
        brand
        third-service
        service
        small-12 text-center
        medium-6
        columns">
        <i class="service-icon fa fa-laptop fa-5x fa-align-center"></i>
        <h2 class="service-name">Back-End</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
            <li>Laravel Forge</li>
            <li>VPS & DNS Configuration</li>
            <li>MySQL, flat-file DB, ActiveRecord ORM, Eloquent</li>
          </ul>
        </div>
      </div>
      <div class="
        third-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-10 medium-offset-1 columns">
          <p class="service-description">
            Have some experience deploying to VPS (DigitalOcean) servers, registering domains & configuring DNS.
          </p>
          <p class="service-description">
            Comfortable designing normalized database models/tables with Eloquent ORM, with occasional raw SQL statements as needed. Comfortable designing up/down migrations and configuring seeders.
          </p>
          <!-- <a href="/services/uiux.html" class="button small">Learn More</a> -->
        </div>
      </div>
    </div>
    <!--fourth service -->
    <div id="copywriting" class="row animated full-width">
      <div class="
        brand
        fourth-service
        service
        small-12 text-center
        medium-6
        columns ">
        <i class="service-icon fa fa-pencil fa-5x fa-align-center"></i>
        <h2 class="service-name">Javascript</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
            <li>jQuery/vanilla</li>
            <li>Learning ReactJS</li>
            <li>npm, node, nvm</li>
          </ul>
        </div>
      </div>
      <div class="
        fourth-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-8 medium-offset-2 columns">
          <p class="service-description">
            Comfortable navigating my way around the package.json file. Have experience with version-management software like nvm (/rvm/rbenv). Excited to hop on the ReactJS train.
          </p>
          <!-- <a href="/services/copy.html" class="button small">Learn More</a> -->
          
        </div>
      </div>
    </div>
    <!--End -->
  </div>
  <!-- END Skills Container -->
</div>