<!-- *********** -->
<!-- Section Two -->
<!--   services  -->
<!-- *********** -->
<div class="row mbn full-width section section-two show-for-medium-up">
  <div class="
  mbm
  medium-9 medium-centered columns end
  section-two-header text-center ">
  <h1>
    my name is <span class="accent">kevin oh</span>. <br>I'm a freelance web developer/designer based in Long-Island, New York.
  </h1> 
  </div>
  <hr class="mbm header-separator">
  <h2 class="core-services text-center">core services</h2>
  <h4 class="click-to-view subtle text-center show-for-medium-up" id="tooltip">
    click items to view
  </h4>
  <hr class="mbm mtm header-separator">
  {% include services-list.html %}
  
  <!--START skills container -->
  <div class="service-container">
    <!--First Service -->
    <!--BRAND -->
    <div id="webdev" class="row animated full-width active-service">
      <div class="
        brand
        first-service
        service
        small-12 text-center
        medium-6
        columns">
        <i class="service-icon fa fa-code fa-5x fa-align-center"></i>
        <h2 class="service-name">web development</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
            <li>responsive mobile & desktop layouts</li>
            <li>blogs, portfolios, e-commerce sites, etc</li>
            <li>deployment & hosting</li>
          </ul>
        </div>
        <!--END OF BRAND -->
      </div>
      <div class="
        first-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-10 medium-offset-1 columns">
          
          <p class="service-description">
            A lot goes into making a site. I'll sweat the technical details so you can focus on the details you actually care about.
          </p>
          <p class="service-description">
            From mockup to deployment, I'll help you create a fast, responsive, modern website that you can be proud of.
          </p>
          <!-- <a href="/services/webdev.html" class="button small">Learn More</a> -->
        </div>
      </div>
    </div>
    <!--Second service -->
    <div id="branding" class="row animated full-width">
      <div class="
        brand
        second-service
        service
        small-12 text-center
        medium-6
        columns">
        <i class="service-icon fa fa-copyright fa-5x fa-align-center"></i>
        <h2 class="service-name">branding</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
          <li>logo & banner design</li>
          <li>business cards, banners, menus, etc</li>
          <li>social media branding</li>
          </ul>
        </div>
      </div>
      <div class="
        second-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-10 medium-offset-1 columns">
          
          <p class="service-description">
            Building an online identity is no small undertaking. <br> <br> Create an online presence on all of the modern popular social networking sites.
            <br>
            <hr class="mini-hr mbm show-for-small-only">
            <span class="subtle"> * Need video? <br><a href="contact">Email me</a> to see <br> if we'd make a good match.</span>
          </p>
          <!-- <a href="/services/branding.html" class="button small">Learn More</a> -->
          
        </div>
      </div>
    </div>
    <!--Third service -->
    <div id="uiux" class="row animated full-width">
      <div class="
        brand
        third-service
        service
        small-12 text-center
        medium-6
        columns">
        <i class="service-icon fa fa-laptop fa-5x fa-align-center"></i>
        <h2 class="service-name">UI/UX</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
            <li>website design</li>
            <li>mobile app UI design</li>
            <li>wire-framing</li>
          </ul>
        </div>
      </div>
      <div class="
        third-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-10 medium-offset-1 columns">
          <p class="service-description">
          Even in 2015, user interfaces are often clunky and counter-productive. </p>
          <p class="service-description">Create a user experience that will allow your users to do exactly what it is they wish to do on your website or application. No clutter, no mess.
          </p>
          <!-- <a href="/services/uiux.html" class="button small">Learn More</a> -->
          
        </div>
      </div>
    </div>
    <!--fourth service -->
    <div id="copywriting" class="row animated full-width">
      <div class="
        brand
        fourth-service
        service
        small-12 text-center
        medium-6
        columns ">
        <i class="service-icon fa fa-pencil fa-5x fa-align-center"></i>
        <h2 class="service-name">copywriting</h2>
        <div class="features show-for-medium-up">
          <h3></h3>
          <ul class="feature-list">
            <li>copy-editing</li>
            <li>flexible subject range</li>
            <li>guest blogging</li>
          </ul>
        </div>
      </div>
      <div class="
        fourth-service
        service
        small-12 text-center
        medium-6
        columns">
        <div class="medium-8 medium-offset-2 columns">
          <p class="service-description">
            Words are the backbone of every website. <br> I'll help you choose the right ones.
          </p>
          <!-- <a href="/services/copy.html" class="button small">Learn More</a> -->
          
        </div>
      </div>
    </div>
    <!--End -->
  </div>
  <!-- END Skills Container -->
</div>