div.post-container {
  display: block;
  @media #{ $medium-only } {
    padding-top: 60px;
    width: 700px;
    margin: auto;
  }
  @media #{ $large-up } {
    padding-top: 80px;
    width: 1000px;
    margin: auto;
  }

  // Text
  h1{
    font-weight: bold;
  }
}