/*********************************/
/**** Responsive Screen Sizes ****/
/*********************************/

$small-width: 150px;
$small-height: 150px;

$medium-width: 150px;
$medium-height: 150px;

$large-width: 150px;
$large-height: 150px;
