/*
* Dialog.SCSS 
* Contains SCSS for the overall dialog window.
*/
/* 
* General.SCSS
* Contains site-wide code (ie: 'settings')
*/
body {
  background-color: #88CCE8; }

h1, h2, h3, p, a {
  font-family: "filson-soft", sans-serif; }

.btn {
  padding: 1rem 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  min-width: 4rem;
  border: 1px solid black; }

.container {
  display: flex;
  align-items: center;
  justify-content: center; }

/*
* Mixins.SCSS 
*/
.dialog {
  background-color: #fff;
  width: 450px;
  height: 450px;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  /*
	 * Button Stuff 
	 * (Mixins located in mixins.scss)
	 */ }
  .dialog__title {
    text-align: center; }
  .dialog__icon-list {
    list-style-type: none;
    margin: auto;
    width: 40%; }
  .dialog__icon {
    display: inline; }
  .dialog .btn__container {
    display: flex;
    flex-flow: row nowrap;
    margin: auto; }
  .dialog .btn--authorize {
    background-color: #29B66E; }
    .dialog .btn--authorize:hover {
      background-color: #53d894; }
  .dialog .btn--authorize--alt {
    background-color: #FFE500; }
    .dialog .btn--authorize--alt:hover {
      background-color: #ffed4d; }
