.section-one {

  // Section-wide

  // Background Image
  @media #{ $small-only } {
    min-height: 260px;
    background-color: $color1;
  }

  @media #{ $medium-only } {
    min-height: 730px;
  }

  @media #{ $medium-up } {
    background: url('../img/desk-setup-gs.jpg') 50% 30% no-repeat; 
    background-position: 50% 30%;
    background-size: cover;  
    padding-top: 100px;
  }

  @media #{ $large-up } {
    min-height: 800px;
    background-position: 50% 50%;
  }

  // List placement / formatting
  ul.nav-list {
    list-style-type: none;
    display: inline;
    margin-left: 0;

    // Prevents uneven centering of inline list.
    @media #{ $small-only } {
      text-align: center; 
    }

    @media #{ $medium-up } {
      text-align: right;
    }

    li {
      font-family: 'jubilat';
      a {
        color: white;
        text-align: center;
      }
      @media #{ $small-only } {
        font-size: 1em;
        display: inline;
        line-height: 14px;
      }
      @media #{ $medium-only} {
        font-size: 1.7em;
        line-height: 45px;
      }
      @media #{ $large-up} {
        font-size: 2em;
        line-height: 45px;
      }
      @media #{ $xlarge-up } {
        font-size: 2em;
        line-height: 50px;
      }
    }
  }

  // Header DIV
  .main-header {
    @media #{ $small-only } {
      text-align: center;
      padding-top: 20px;
    }

    @media #{ $medium-up } {
      text-align: right;
      font-size: 3em; 
    }

    // Header image
    img {
      position: relative; 

      @media #{ $medium-only } {
        top: -15px;
        width: 400px !important; 
        border-radius: 4px;
      }

      @media #{ $large-up} {
        width: 400px !important; 
        min-height: auto;

        top: -15px;
      }
    }
    //End of Image
  }

  h1#header {
    position: relative;
    @media #{ $small-only } {
      font-family: 'museo-slab', sans-serif;
    }
    @media #{ $medium-up } {
      font-family: 'raleway', sans-serif;
      background-color: rgba(255,255,255,0.5);
    }
    color: #2F2F2F;
    @media #{ $small-only } {
      top: 30px;
      color: white;
    }

    @media #{ $medium-only } {
      top: 100px;
      font-size: 5em;
    }

    @media #{ $large-up } {
      top: 80px;
      font-size: 7em;
    }

    span.accent{
      color: $color3;
    }
  }

  p#subheader {
    position: relative;
    font-family: 'jubilat', sans-serif;
    background-color: rgba(255,255,255,0.5);
    color: #560000;

    @media #{ $small-only } { 
      color: black;
    }
    @media #{ $medium-up} {
      color: $black;
      font-size: 1.3em;
      top: 125px; 
    }
    @media #{ $large-up} {
      font-size: 1.4em;
      top: 80px; 
    }
  }
  // END OF P SUBHEAD
}
