.section-four {
  
  border-top: 15px solid #000000;
  padding-top: 40px;
  background-color: #B8FFAD;
  h2 {
    @media #{ $medium-up } {
      font-size: 5em;
    }
    font-weight: bold;
  }
  p {
    font-size: 2em;
    font-family: 'raleway', sans-serif;
    @media #{ $medium-up } {
      font-size: 3em;
    }
  }
  h2 span {
    color: gray;
  }

  // blog posts
  ul.blog-posts {
    li {
      list-style-type: none;
      margin-bottom: 50px;
      a {
        font-size: 3em;
        font-variant: small-caps;
        font-family: 'brandon-grotesque', sans-serif;
      }
      p {
        font-size: 1.3em;
        font-family: 'brandon-grotesque', sans-serif;
      }
    }
  }

  hr.blog-post-divider {
    width: 300px;
    margin: auto;
  }
}