.section-four {
  border-top: 15px solid #000000;
  padding-top: 40px;
  $kodeblog-bg: #1A1B1C;
  background-color: $kodeblog-bg;
  h2 {
    @media #{ $medium-up } {
      font-size: 5em;
    }
    color: white;
    font-weight: bold;
  }
  p {
    font-size: 2em;
    font-family: 'raleway', sans-serif;
    @media #{ $medium-up } {
      font-size: 3em;
    }
  }
  h2 span {
    color: gray;
  }

  // blog posts
  ul.blog-posts {
    li {
      list-style-type: none;
      margin-bottom: 50px;
      background-color: #e3e3e3;
      padding: 1rem;
      text-align: center;
      border-radius: 3px;
      a {
        font-size: 3em;
        font-variant: small-caps;
        font-family: 'brandon-grotesque', sans-serif;
        text-decoration: underline;
        color: lighten(#aa1f5e, 10%); // Accent pink, lightened to match
      }
      p {
        font-size: 1.3em;
        font-family: 'brandon-grotesque', sans-serif;
      }
    }
  }

  hr.blog-post-divider {
    width: 300px;
    margin: auto;
  }

  // Utility class
  .tac {
    text-align: center;
  }
}