.section-one {

  // Section-wide
  @media #{ $small-only } {
    min-height: 260px;
  }

  @media #{ $medium-up } {
    min-height: 720px;
    padding-top: 100px;
  }

  // Background Image
  @media #{ $small-only } {
    background-color: $color1;
  }

  @media #{ $medium-up } {
    background-image: url('../img/desk2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover; 
  }

  // List placement / formatting
  ul.nav-list {
    list-style-type: none;
    margin-left: 0;

    // Prevents uneven centering of inline list.
    @media #{ $small-only } {
      text-align: center; 
    }

    @media #{ $medium-up } {
      text-align: right;
    }
  }

  // Nav List
  ul li {
    font-family: 'jubilat';
    a {
      color: white;
    }

    @media #{ $small-only } {
      font-size: 1em;
      line-height: 14px;
      display: inline;
    }

    @media #{ $medium-only} {
      font-size: 2em;
      line-height: 34px;
    }

    @media #{ $large-only} {
      font-size: 2em;
      line-height: 45px;
    }

  }

  // Header DIV
  .main-header {
    @media #{ $small-only } {
      text-align: center;
      padding-top: 20px;
    }

    @media #{ $medium-up } {
      text-align: right;
      font-size: 3em; 
    }

    // Header image
    img {
      @media #{ $large-only } {
        width: 400px !important; 
        max-width: 100%;
        min-height: auto;
        border-radius: 4px;
        float: left;

        position: relative;
        top: -15px;
        // right: 15px;
      }

    }
  }

  p {
    color: $black;
    text-align: center;
    position: relative;

    &.description {
      font-family: 'museo-slab';

      @media #{ $small-only } {
        font-size: 1.6em;
        color: white;
      }

      @media #{ $medium-only } {
        font-size: 2em;
        top: 70px;
      }

      @media #{ $large-only } {
        font-size: 2em;
        line-height: 70px;
        top: 70px;
      }
    }
    &.email {
     font-family: 'brandon-grotesque'; 
     font-size: 1.6em;
     @media #{ $medium-only } {
       position: relative;
       top: 80px;
     }
     @media #{ $large-only } {
       color: white;
       top: 100px;
     }
    }
  }
}