/*********************************/
/******* SECTION TWO *************/
/*********************************/
.section-two {

  background-color: #161616;

  // CONSTANTS

  a {
    color: white;
    &:hover, &:visited {
      color: white;
    }
  }

  //utility classes 
  .hoverLink {
    color: #FFFFFF !important;
  }

  span.subtle {
    @media #{ $small-only } {
      color: #AA5050;
    }
  }

  // END UTILITY CLASSES

  div.section-two-header {
    h1 {
      color: white;
    }
    span {
      color: $color3;
      font-size: 1.2em;
      font-family: 'jubilat', sans-serif;
    }
  }

  hr.header-separator {
    width: 400px;
    margin: auto;
  }

  h4.click-to-view {
    color: $color3;
  }

  // Services Navigation List
  ul.services-list {
    height: 100px;
    list-style-type: none;
    li {
      position: relative;
      top: 20px;
      margin-right: 60px;
      display: inline;
      a { 
        color: #545454;
        font-family: 'proxima-nova';
        @media #{ $medium-only } {
          font-size: 1.4em;
        }

        @media #{ $large-only } {
          font-size: 2em;
        }

        &:visited {
          text-decoration: none;
        }
        &.active {
          color: #DADADA;
          text-decoration: underline;
        }
      }
    }
  }
  h2.core-services {
    @media #{ $small-only } {
      color: #FFFFFF !important;
      font-size: 2em;
      font-family: 'raleway',sans-serif;
    }
    @media #{ $medium-up } {
      font-family: 'jubilat', sans-serif;
      font-size: 3em;
      color: #CECECE !important;
    }
  }
  hr.core-services-divider {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
  }
  .brand {
    min-height: 900px;
    background-color: #373737 !important;
    p, h2 {
      color: #e3e3e3 !important;
    }
  }

  // Relevant Animate.CSS options
  .fadeOut {
    -webkit-animation-duration: 0.1s;
  }
  .active-service {
    div.service{
      display: block !important;
    }
  }

  //SRVC
  .service {
    text-align: center;
    @media #{ $small-only } {
      padding-top: 20px;
      text-align: center;
      min-height: 100px;
    }
    @media #{ $medium-up } {
      display: none;
      padding-top: 50px;
      min-height: 750px;
    }
    @media #{ $large-up } {
      min-height: 680px;
    }

    //"services"
    h2.service-name {
      font-size: 3em;
      font-family: 'museo-slab';
      line-height: 39px;
      margin-bottom: 30px;
      @media #{ $small-only } {
        color: white;
      }
    }
    p.service-description{
      font-size: 1.4em;
      @media #{ $small-only } {
        color: white;
        font-family: 'proxima-nova', sans-serif;
      }
      @media #{ $medium-up } {
        font-size: 2em;
        font-family: 'rooney-web', sans-serif;
      }
    }
    i.service-icon{
      // space under an icon
      @media #{ $small-only } {
        margin-top: 0px;
        margin-bottom: 20px;
        color: $color3;
      }
      @media #{ $medium-up } {
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 130px;
      }
    }
  }
  .past-work-description-labels{
    @media #{ $large-up } {
      text-align: right;
    }
    font-weight: bold;
    ul {
      list-style-type: none;
    }
  }
  .past-work-description {
    ul {
      list-style-type: none;
    }
  }
  .service-subheader{
    font-family: $subheader-font;
    color: $subtle-color;
  }

  /*********************************/
  /******* SERVICES * SERVICES *****/
  /*********************************/
  .first-service {
    background-color: $color3;
    color: white;
    h2 {
      font-family: 'museo-slab', sans-serif !important;
      letter-spacing: -3px;
      line-height: 47px !important;
    }
    i.service-icon {
      color: white;
      background-color: $color3;
      padding: 40px 38px;
    }


    .features {
      h3 {
        color: $color3;
        font-size: 2.0em;
        font-family: 'museo-slab', sans-serif;
      }
      position: relative;
      @media #{ $medium-only } {
        top: 120px;
      }
      @media #{ $large-only } {
        top: 120px;
      }
      @media #{ $xlarge-up } {
        top: 100px;
      }
      ul.feature-list {
        list-style-type: none;
        li {
          font-family: 'proxima-nova', sans-serif;
          font-size: 1.2em;
          color: #C4C4C4;
          @media #{ $xlarge-up } {
            font-size: 2em;
          }
        }
      }
    }

    a.button {
      position: relative;
      top: 60px;
    }
  }

  .second-service {
    background-color:$color6;

    h2.service-name {
      font-family: 'lust-script', sans-serif !important; 
      font-size: 3em !important;
    }
    p.service-description {
      color: white;
    }
    i.service-icon {
      color: white;
      background-color: $color6;
      padding: 40px 45px;
    }
    a.button {
      position: relative;
      top: 60px;
    }

    .features {
      h3 {
        color: $color3;
        font-size: 2.0em;
        font-family: 'museo-slab', sans-serif;
      }
      position: relative;
      @media #{ $medium-only } {
        top: 120px;
      }
      @media #{ $large-only } {
        top: 120px;
      }
      @media #{ $xlarge-up } {
        top: 100px;
      }

      ul.feature-list {
        list-style-type: none;
        li {
          font-family: 'proxima-nova', sans-serif;
          font-size: 1.2em;
          color: #C4C4C4;
          @media #{ $xlarge-up } {
            font-size: 2em;
          }
        }
      }
    }
  }

  .third-service {
    background-color: $color5;
    color: #404040;
    h2.service-name {
      font-family: 'proxima-nova', sans-serif;
    }
    i.service-icon {
      background-color: $color5;
      padding: 40px 37px;
    } 

    .features {
      h3 {
        color: $color3;
        font-size: 2.0em;
        font-family: 'museo-slab', sans-serif;
      }
      position: relative;
      @media #{ $medium-only } {
        top: 120px;
      }
      @media #{ $large-only } {
        top: 120px;
      }
      @media #{ $xlarge-up } {
        top: 100px;
      }
      ul.feature-list {
        list-style-type: none;
        li {
          font-family: 'proxima-nova', sans-serif;
          font-size: 1.2em;
          color: #C4C4C4;
          @media #{ $xlarge-up } {
            font-size: 2em;
          }
        }
      }
    }
  }
  .fourth-service {
    background-color: $color2;

    h2.service-name {
      font-family: 'jubilat', sans-serif !important;
    }

    p.service-description {
      padding-top: 100px !important;
    }

    i.service-icon {
      color: #3D3D3D;
      background-color: $color2;
      padding: 40px 45px;
    }
    a.button {
      position: relative;
      top: 60px;
    }

    .features {
      h3 {
        color: $color3;
        font-size: 2.0em;
        font-family: 'museo-slab', sans-serif;
      }
      position: relative;
      @media #{ $medium-only } {
        top: 120px;
      }
      @media #{ $large-only } {
        top: 120px;
      }
      @media #{ $xlarge-up } {
        top: 100px;
      }
      ul.feature-list {
        list-style-type: none;
        li {
          font-family: 'proxima-nova', sans-serif;
          font-size: 1.2em;
          color: #C4C4C4;
          @media #{ $xlarge-up } {
            font-size: 2em;
          }
        }
      }
    }
  }

  .button {
    background-color: #373737;
    color: #EBEBEB;
  }
}
