.section-four {
  h2 {
    font-weight: bold;

    &#hashtag-latest-header {
      font-size: 3em;
      font-family: 'museo-slab';
    }

  }
  h2 span {
    color: gray;
  }

  // blog posts
  ul.blog-posts {
    li {
      list-style-type: none;
      margin-bottom: 50px;
      a {
        font-size: 3em;
        font-variant: small-caps;
        font-family: 'brandon-grotesque', sans-serif;
      }
      p {
        font-size: 1.3em;
        font-family: 'brandon-grotesque', sans-serif;
      }
    }
  }

  hr.blog-post-divider {
    width: 300px;
    margin: auto;
  }
}