.section-three {
  img {
    border: 30px solid $color5;
  }
  .accent {
    font-size: 2em;
    vertical-align: middle;
  }
  .project {
    margin-bottom: 15px;
    a {
      text-align: center;
      font-family: 'brandon-grotesque';
      font-size: 2em;
    }
  }
  // latest work / current projects
  h2 { 
    @media #{$medium-up} {
      display: inline;
    }
  }
  a.active {
    //colors
  }
  p {
    display: inline;
  }
}