.section-one {

  // Section-wide
  @media #{ $small-only } {
    min-height: 260px;
  }

  @media #{ $medium-up } {
    min-height: 720px;
    padding-top: 100px;
  }

  // Background Image
  @media #{ $small-only } {
    background-color: $color1;
  }

  @media #{ $medium-up } {
    background-image: url('../img/desk-setup-gs.jpg');
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover; 
  }

  @media #{ $large-up } {
    background-position: 50% 50%;
  }

  // List placement / formatting
  ul.nav-list {
    list-style-type: none;
    margin-left: 0;

    // Prevents uneven centering of inline list.
    @media #{ $small-only } {
      text-align: center; 
    }

    @media #{ $medium-up } {
      text-align: right;
    }
  }

  // Nav List
  ul li {
    font-family: 'jubilat';
    a {
      color: white;
    }

    @media #{ $small-only } {
      font-size: 1em;
      line-height: 14px;
      display: inline;
    }

    @media #{ $medium-only} {
      font-size: 1.3em;
      line-height: 34px;
    }

    @media #{ $large-up} {
      font-size: 1.3em;
      line-height: 45px;
    }

    @media #{ $xlarge-up } {
      font-size: 2em;
      line-height: 50px;
      
    }

  }

  // Header DIV
  .main-header {
    @media #{ $small-only } {
      text-align: center;
      padding-top: 20px;
    }

    @media #{ $medium-up } {
      text-align: right;
      font-size: 3em; 
    }

    // Header image
    img {
      @media #{ $large-up} {
        width: 400px !important; 
        min-height: auto;
        border-radius: 4px;
        float: left;

        position: relative;
        top: -15px;
        // right: 15px;
      }

    }
  }

  p {
    text-align: center;
    position: relative;

    @media #{ $small-only } {
      color: white;
    }
    @media #{ $medium-up} {
      color: $black;
    }

    &.description {
      font-family: 'museo-slab';

      @media #{ $small-only } {
        font-size: 1.6em;
        color: white;
      }

      @media #{ $medium-only } {
        font-size: 2em;
        top: 70px;
      }

      @media #{ $large-up } {
        font-size: 5em;
        line-height: 70px;
        color: #232323;
        top: 70px;

        // background-color: rgba(255,255,255,0.2);
      }

      span.description-accent{
        color: $color-one;
        // font-family: 'lust-script';
      }

      span.small {
        @media #{ $medium-only } {
          font-size: 1em;
        }
        @media #{ $large-up } {
          font-size: 0.4em;
        }
      }
    }

    }

    &.email {
     font-family: 'brandon-grotesque'; 
     font-size: 1.6em;

     @media #{ $medium-only } {
       position: relative;
       top: 80px;
       color: $color-one;
     }
     @media #{ $large-up} {
      color: $color-one;
      i {
        color: $color-one;
      }
      
    }
  }
}
